<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>
            {{title}}
        </title>
        <link href="/css/font.css" rel="stylesheet" type="text/css">
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
        <link href="/css/styles.css" rel="stylesheet" type="text/css">
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        {{#if faculty}}
            <script src="/fontawesome/js/all.min.js"></script>
            <script src="/gijgo/gijgo.min.js" type="text/javascript"></script>
            <link href="/gijgo/gijgo.min.css" rel="stylesheet" type="text/css" />
        {{else}}
            
        {{/if}}
    </head>
        {{#if user}}
        <body id="main">
            <nav class="navbar navbar-expand-lg navbar-light bg-white sticky-top shadow rounded m-2">
                <a class="navbar-brand" href="{{link}}">
                    <img src="assets/reeve.png" width="30" height="30" class="d-inline-block align-top" alt=""> Code Reeve
                </a>
                <div class="collapse navbar-collapse flex-row-reverse" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        {{#if admin}}
                        <li class="nav-item {{#if add}}active{{else}}{{/if}} mr-sm-4">
                            <a class="nav-link" href="/admin">Add</a>
                        </li>
                        <li class="nav-item {{#if manage}}active{{else}}{{/if}} mr-sm-4">
                            <a class="nav-link" href="/admin/manage">Manage</a>
                        </li>
                        <li class="nav-item {{#if courses}}active{{else}}{{/if}} mr-sm-4">
                            <a class="nav-link" href="/admin/courses">Courses</a>
                        </li>
                        {{/if}}
                        {{#if student}}
                        <li class="nav-item {{#if current}}active{{else}}{{/if}} mr-sm-4">
                            <a class="nav-link" href="/student">Current</a>
                        </li>
                        <li class="nav-item {{#if previous}}active{{else}}{{/if}} mr-sm-4">
                            <a class="nav-link" href="/student/previous">Previous</a>
                        </li>
                        {{/if}}
                        {{#if faculty}}
                        <li class="nav-item {{#if add}}active{{else}}{{/if}} mr-sm-4">
                            <a class="nav-link" href="/faculty">Create</a>
                        </li>
                        <li class="nav-item {{#if previous}}active{{else}}{{/if}} mr-sm-4">
                            <a class="nav-link" href="/faculty/previous">Previous</a>
                        </li>
                        {{/if}}
                        <li class="nav-item mr-sm-4">
                            <a class="nav-link" href="/users/logout">Logout</a>
                        </li>
                    </ul>
                </div>
            </nav>
        <canvas id="canvas"></canvas>
        {{else}}
        <body>
         {{/if}}   
            <div class="bg"></div>
            <div class="bg bg2"></div>
            <div class="bg bg3"></div>
        {{{body}}}
        <script src="js/app.js"></script>
        {{#if faculty}}
            <script src="js/vue.js"></script>
            <script src="js/facultyFE.js"></script>
        {{/if}}
        {{#if student}}
            <script src="js/vue.js"></script>
            <script src="js/studentFE.js"></script>
        {{/if}}
    </body>