<div class="container mt-5 mb-5">
    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger mt-3 text-center">{{msg}}</div>
        {{/each}}
        {{/if}}
        {{#if success_msg}}
        <div class="alert alert-success mt-3 text-center">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
        <div class="alert alert-danger mt-3 text-center">{{error_msg}}</div>
    {{/if}}
    <form class="mb-3" method="get" action="/admin/addcourse">
        <div class="row">
                <div class="col-md-4"><button class="btn btn-success w-100" type="submit">Add a New Entry</button></div>
                <div class="col-md-4 mb-3"><input class="form-control text-center shadow-lg bg-white border-0" id="myInput" type="text" placeholder="Search.."></div>
                <div class="col-md-4"></div>
            </div>
    </form>
    <table class="table table-striped rounded bg-white shadow p-3 mb-3">
        <thead>
            <tr>
                <th scope="col">Subject</th>
                <th scope="col">Semester</th>
                <th scope="col">Batch</th>
                <th scope="col">Year</th>
                <th scope="col">Faculty</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#each entries}}
            <tr>
                <form method="post" class="entries" action="/admin/coursesmanage">
                    <input type="hidden" name="sem" value="{{sem}}">
                    <input type="hidden" name="subject" value="{{subject}}">
                    <input type="hidden" name="batch" value="{{batch}}">
                    <input type="hidden" name="year" value="{{year}}">
                    <input type="hidden" name="faculty" value="{{faculty}}">
                    <td>{{subject}}</th>
                    <td>{{sem}}</td>
                    <td>{{batch}}</td>
                    <td>{{year}}</td>
                    <td>{{faculty}}</td>
                    <td>
                        <button class="btn btn-danger" type="submit" name="manage" value="delete" data-toggle="confirmation">Delete</button>
                    </td>
                </form>
            </tr>
            {{/each}}
        </tbody>
    </table>
    <script>
    $(document).ready(function(){
        $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("tbody tr").filter(function() {
            $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
</div>