<div class="container mt-5 mb-5">
    {{#if errors}}
        {{#each errors}}
            <div class="alert alert-danger mt-3 text-center">{{msg}}</div>
        {{/each}}
        {{/if}}
        {{#if success_msg}}
        <div class="alert alert-success mt-3 text-center">{{success_msg}}</div>
        {{/if}}
        {{#if error_msg}}
        <div class="alert alert-danger mt-3 text-center">{{error_msg}}</div>
    {{/if}}
    <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4 mb-3"><input class="form-control text-center shadow-lg bg-white border-0" id="myInput" type="text" placeholder="Search.."></div>
                <div class="col-md-4"></div>
            </div>
    {{#each assignment}}
        <form method="post" action="/faculty/manage">
            <div class="card rounded shadow p-3 mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-8">
                            <h5 class="card-title">{{title}} <span id="time{{@index}}" class="badge badge-secondary"></span></h5>
                            <p class="card-text">{{subject}} - {{section}} (Sem: {{sem}}, Batch: {{batch}}) </p>
                            <input type="hidden" name="id" value="{{_id}}">
                            <input type="hidden" name="plagiarised" value="{{plagiarised}}">
                            
                        </div>
                        <div class="col-md-4">
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <div class="btn btn-warning " id='check{{@index}}' name="manage" value="check">Check</div>
                                <button class="btn btn-primary" type="submit" name="manage" value="sub">Submissions</button>
                                <button class="btn btn-secondary" type="submit" name="manage" value="edit">Edit</button>
                                <button class="btn btn-danger" data-toggle="confirmation" name="manage" value="delete">Delete</button>
                            </div>
                        </div>
                        <script>
                            var dt{{@index}} = new Date('{{datetime}}').getTime();
                            var x{{@index}} = setInterval(function() {
                                var now = new Date().getTime();
                                var distance = dt{{@index}} - now;
                                var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                                var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                                var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                                var seconds = Math.floor((distance % (1000 * 60)) / 1000);
                                document.getElementById("time{{@index}}").innerHTML = days + "d " + hours + "h " + minutes + "m " + seconds + "s ";
                                if (distance < 0) {
                                    clearInterval(x{{@index}});
                                    document.getElementById("time{{@index}}").innerHTML = "EXPIRED";
                                }
                            }, 1000);
                            if (dt{{@index}} > new Date().getTime()){
                                $('#check{{@index}}').addClass('disabled')
                            }else{
                                {{#if checked}}
                                $('#check{{@index}}').addClass('disabled')
                                {{/if}}
                                $('#check{{@index}}').on('click',()=>{
                                $('#check{{@index}}').addClass('disabled') 
                                $.ajax({
                                    type: "POST",
                                    url: '/faculty/check',
                                    data: {assignmentID:'{{_id}}'},
                                    dataType: 'application/json'
                                    });
                                })
                            }
                        </script>
                    </div>
                </div>
            </div>
        </form>
    {{/each}}
    <script>
        $(document).ready(function(){
            $("#myInput").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("form").filter(function() {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
</div>